# Core Deep Learning 
torch               ## ResNet, CNN
torchvision
tensorflow

# Computer Vision
facenet-pytorch     ## Read, process and extract frames from videos
opencv-python       ## Detect and crop faces (MTCNN)
mtcnn
scikit-image


# Data Handling
tqdm                ## Progress bar animation
pandas
numpy
scikit-learn        ## Metrics (accuracy, precision, recall, etc)

# Visualization
matplotlib
seaborn

# Webapp
streamlit

# Download 
yt-dlp

